{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
<div class="container p-3 my-5">
    <h1 class="text-center">User Infos</h1>
    <hr>
    {% include 'partials/_alerts.html' with messages=form.errors %}
    <h1 class="text-center">Profile</h1>
    <form action="{% url "reset_password" %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}


        <div class="row">
            <div class="col">{% bootstrap_button button_type="reset" content="clear" %}</div>
            <div class="col">{% bootstrap_button button_type="submit" content="submit" %}</div>
        </div>

    </form>
</div>
<script>
    document.querySelectorAll(".btn").forEach(function (btn) {
        btn.classList.add("w-100");
        if (btn.type=="reset") {
            btn.classList.remove("btn-primary")
            btn.classList.add("btn-danger")
        }
    })
</script>
{% endblock %}